@model IEnumerable<NetZkouskaFull.Models.Student>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	@using (Html.BeginForm())
	{
		<p>
			Find by name: @Html.TextBox("sName")
			Lastname: @Html.TextBox("sLastname")
			ID: @Html.TextBox("sID")
			@Html.DropDownList("sHasCreditDown", String.Empty)
			@Html.DropDownList("sGrade", String.Empty)

			<input type="submit" value="Search" />
		</p>
	}
	<tr>
		<th>
			@Html.ActionLink("Jmeno", "Index", new { sortOrder = ViewBag.NameSortParm })
		</th>
		<th>
			@Html.ActionLink("Prijmeni", "Index", new { sortOrder = ViewBag.LastnameSortParm })
		</th>
		<th>
			@Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.SISortParm })
		</th>
		<th>
			@Html.ActionLink("Zapocet", "Index", new { sortOrder = ViewBag.HasWorkDownSortParm })
		</th>
		<th>
			@Html.ActionLink("Znamka", "Index", new { sortOrder = ViewBag.GradeSortParm })
		</th>
		<th>
			@Html.ActionLink("Body zk", "Index", new { sortOrder = ViewBag.GradePointsSortParm })
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Lastname)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.StudentIdentity)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.HasWorkDown)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Grade)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.GradePoints)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id=item.StudentID }) |
			@Html.ActionLink("Details", "Details", new { id=item.StudentID }) |
			@Html.ActionLink("Delete", "Delete", new { id=item.StudentID })
		</td>
	</tr>
}

</table>
